.container {
  padding: 10px;
  height: 70vh;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .container {
    background-image: url('https://images.unsplash.com/photo-1572451873632-86c5e0403771?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    padding: 10px;
    height: 85vh;
    display: flex;
    align-items: center;
    background-size: cover;
  }
}
