
@media only screen and (min-width : 375px) and (max-width : 667px) {
    .farm{
      position:absolute;
      top: 0;
      max-width: 667px;
      height: auto;
    }
    form{
      display: block;
      margin-top: 0em;

    }
    .search-box{
      position:absolute;
      max-width: 340px;
      margin-top: 50px;
      height: auto;
      left: 0;
    }
    form{
      position:absolute;
      max-width: 310px;
      height: 200px;
      float: left;
      font-size: 12px;
    }
    .login{
      font-size: 4px;
      max-width:8px 6px;
      margin-top: 90px;
      margin-left:auto;
      margin-right: auto;

    }
    .box-writing{
      font-size: 5px;
      font-weight: 300px;
    }
    .button-name{
      font-size: 5px;
      font-weight: 100px;
      margin-top: 10px;
    }
    input{
      position: relative;
      margin-top: 0px;
      margin-left:auto;
      margin-right:auto;
    }
    .right-to{
      position: absolute;
      max-width: 200px;
      margin-top: 0;
      left: 210px;
    }
    .left-to{
      padding: 10px;
     left:0px;
    }
    .column{
      display: inline-block;
      margin: 0px 100px;
      max-width: 250px;
      height: 20%;
      align-content: center;
    }
    .card{
      font-size: 6px;
      height:260px;
      width: 280px;
    }
    .card-header{
      font-size: 20px;
      text-align: left;
      margin-left: 0px;
      margin-top: 0px;
    }
    .card-main{
      text-align: left;
    }
    .help-popup{
      max-width: 260px;
      left: 0px;
    }

  }

ul { list-style-type:none; }

.farm{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.search-box{
  position: absolute;
  top: 200px;
  width: 200px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}
form{
  position: absolute;
  top: 15px;
  width:300px;
  background-color: #fff;
}
.login{
  background-color:#FF5A5F;
  border: none;
  float: right;
  color:white;
  font-size:20px;
  padding: 10px 22px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  margin-top: 320px;
}
.navbar-expand{
  background-color: white;
  padding: 0px;
  width: 1300px;
  position: absolute;
  left: 0;
  top: 0;
  height: 65px;
}
.button-name{
color: rgb(72, 72, 72);
font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
font-size: 15px;
font-weight: 650;
margin-top: 20PX;
}
.box-writing{
color: #484848;
cursor: pointer;
font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-decoration-color: rgb(255, 255, 255);
text-decoration-line: none;
text-decoration-style: solid;
text-size-adjust: 100%;
text-transform: none;
-webkit-font-smoothing: antialiased;
}
.right-to{
  position: absolute;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  right: 0;
  padding: 20px;
}
.left-to{
  position: absolute;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  left: 1110px;
  padding: 20px;
}
.row{
  float: left;
  padding: 20px;
}
/* .card {
  float: left;
  padding: 12px;
  background-color: white;
  top: 700px;
  font-size: 16px;
  color:  #484848;
  border-width:5px;
  border-style:groove;
  font-weight: 500;
  text-align: left;
}
.card-header{
  font-weight: 700;
  background-color: white;
  margin-left: 0;
} */
.column {
  text-align: center;
  padding: 0 10px;
  margin-left: 0px;
  width: 25%;
  float: left;
}
.close-popup{
  background-color:white;
  border: none;
  float: right;
  color:#484848;
  font-size:22px;
  padding: 22px 22px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  margin-top: -26px;

}
.help{
color: #484848;
font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
font-size: 20px;
position: relative;
left: 40%;
right: 50%;

}
.help-popup {
  position: absolute;
  height: 600px;
  z-index: 100;
  top: 0px;
  right: 0;
}
.order-popup {
  position: absolute;
  height: 600px;
  z-index: 200;
  top: 0px;
  right: 0;
}
.benefits-milk{
  position: absolute;
  height: 100%;
  z-index: 200;
  top: 0px;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  text-align: center;
}
.order{
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  position: relative;
  left: 40%;
  right: 50%;

}
.benefits-milk{
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  top: 100px;
}

orderBox{
  position: fixed;
}
.article{
  color: rgb(72, 72, 72);
  cursor: pointer;
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 800;

}

.reply{
color: rgb(72, 72, 72);
display: block;
font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
font-size: 16px;
font-weight: 400
}
.blue-article{
box-sizing: border-box;
color: rgb(0, 132, 137);
cursor: pointer;
display: block;
font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
font-size: 14px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: 18px;
letter-spacing: normal;
line-height: normal;
overflow-wrap: normal;
text-align: left;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-size-adjust: 100%;
text-transform: none;
width: 150px;
word-spacing: 0px;
writing-mode: horizontal-tb;
-webkit-font-smoothing: antialiased;
}
.help-box{
  align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
border-bottom-color: rgb(0, 0, 0);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 0, 0);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(0, 0, 0);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(0, 0, 0);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: pointer;
display: inline-block;
font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
font-size: 14px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: 102px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: left;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-size-adjust: 100%;
text-transform: none;
width: 390px;
word-spacing: 0px;
writing-mode: horizontal-tb;
-webkit-appearance: none;
-webkit-font-smoothing: antialiased;
}








