
li { float:left; } 

ul { list-style-type:none; }

#ciftlik{
  position:absolute;
  max-width: 100%;
  height: auto;
  top:  -20px;
  left: 0px;
  z-index: -1;
}

.search-box{
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  top: 40%;
  width: 200px;
  position: relative;
  top: 200px;
}

.navbar-expand{
  background-color: white;
  padding: 0px;
  width: 1300px;
  position: absolute;
  left: 0;
  top: 0;
  height: 65px;
}

.login{
  background-color:#FF5A5F;
  border: none; 
  float: right;
  color:white;
  font-size:20px;
  padding: 10px 22px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  
}
.button-name{
color: rgb(72, 72, 72);
font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
font-size: 15px;
font-weight: 650;
margin-top: 20PX;
}
.box-writing{
color: #484848;
cursor: pointer;
display: inline;
font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-decoration-color: rgb(255, 255, 255);
text-decoration-line: none;
text-decoration-style: solid;
text-size-adjust: 100%;
text-transform: none;
-webkit-font-smoothing: antialiased;
}
.card {
 
  padding: 14px;
  background-color: white;
  top: 300px;
  font-size: 16px;
  color:  #484848;
  
}
.column {
  float: left;
  text-align: center;
  width: 25%;
  padding: 0 10px;
  border-block-color: grey;
  
}
.row {margin: 0 -5px;
  font-size: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.close-popup{
  background-color:white;
  border: none; 
  float: right;
  color:#484848;
  font-size:22px;
  padding: 22px 22px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  margin-top: -26px;
 
}
.help{
color: #484848;
font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
font-size: 20px;
position: relative;
left: 40%;
right: 50%;

}
.help-popup {
  position: absolute;
  height: 600px;
  z-index: 100;
  top: 0px;
  right: 0;
}
.order-popup {
  position: absolute;
  height: 600px;
  z-index: 200;
  top: 0px;
  right: 0;
}
.benefits-milk{
  position: absolute;
  height: 100%;
  z-index: 200;
  top: 0px; 
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  text-align: center;
}
.order{
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  position: relative;
  left: 40%;
  right: 50%;

} 
.benefits-milk{
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  top: 100px;
}

orderBox{
  position: fixed;
}
.article{
  color: rgb(72, 72, 72);
  cursor: pointer;
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 800;

}
.navbar-nav{
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  float:  right;
  padding: 20px;
  margin-left: -20px;
}

.right-to{
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  float:  right;
  padding: 20px;

}
.reply{
color: rgb(72, 72, 72);
display: block;
font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
font-size: 16px;
font-weight: 400
}
.blue-article{
box-sizing: border-box;
color: rgb(0, 132, 137);
cursor: pointer;
display: block;
font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
font-size: 14px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: 18px;
letter-spacing: normal;
line-height: normal;
overflow-wrap: normal;
text-align: left;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-size-adjust: 100%;
text-transform: none;
width: 150px;
word-spacing: 0px;
writing-mode: horizontal-tb;
-webkit-font-smoothing: antialiased;
}
.help-box{
  align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
border-bottom-color: rgb(0, 0, 0);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 0, 0);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(0, 0, 0);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(0, 0, 0);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: pointer;
display: inline-block;
font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
font-size: 14px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: 102px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: left;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-size-adjust: 100%;
text-transform: none;
width: 390px;
word-spacing: 0px;
writing-mode: horizontal-tb;
-webkit-appearance: none;
-webkit-font-smoothing: antialiased;
}


 


  


